html{
    background: #101010 !important;
}
hr{
    background-color: #dedede !important;
}

.logo {
    display: flex;
    justify-content: center;
}
.boards_list {
    text-align: center;
}
.menu {
    max-width: 300px;
    margin: 0 auto;
}